@media screen and (max-width: 480px) {

  .hdr-bar {
    display: flex;
  }

  .hdr-div {
    flex-direction: column;
  }

  .hrd-div-bar-menu {
    width: 300px;
  }

  .nav-menu {
    display: none;
    width: 100%;
    padding: 10px 20px;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-light-gray);
    padding: 0px 20px;
    padding-bottom: 20px;
  }

  .nav-menu ul a {
    display: block;
    border-bottom: 1px var(--color-black) dotted;
    padding: 10px 0px;
  }

  .hdr-div figure {
    width: 150px;
  }

  /* ------------------------------------- */

  main {
    height: 350px;
  }

  main h1 {
    max-width: 300px;
    font-size: 32px;
    top: 100px;
    left: 40px;
  }

  /* ------------------------------------- */

  .div-art-serv {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}